<h2 class="title is-2">Top 100 Movies</h2>
<!-- p>Find me in app/views/movies/index.html.erb</p -->
<% @movies.each do |movie| %>
  <li>
    <%= link_to movie.title, movie %> was produced by <%= link_to movie.production_company.name %>
  </li>

<%end%>



