<li>
  <%= link_to production_company.name, production_company %>
<<<<<<< HEAD
  <em>(<%= production_company.movie_count %> Top Movies)</em>
=======
  <em>(<%= pluralize production_company.movie_count, "Top Movie" %> )</em>
>>>>>>> railsAtTheMovies-EOD-Jan26,2022
</li>